{%load static%}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="header">
    <h1>КинОnlineТеатр</h1>
    <h5><a href="{% url 'enter' %}">Смотреть не авторизовавшись</a></h5>
</div>
<h2>Вход</h2>
<form method="post">
    <p><b>Ваш логин:</b><br>
        {% csrf_token %}
        {{ form.username }}
    <p><b>Ваш пароль:</b><br>
        {{ form.password }}
<form>
      <button type="submit" class="button signin__button">Войти</button>
    </form>
    <form>
      <input type="button" onclick="window.location.href = '{% url 'registr' %}';" value="Зарегистрироваться"/>
    </form>
    <div class="footer">
        <p></p>
    </div>
</form>
</body>
</html>
